{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <h1 class="text-secondary text-uppercase font-weight-light">To do list</h1>
    <div class="row row-cols-1 row-cols-md-3">
        {% for memo in memos %}
            <div class="col mb-4">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-info border-info a-text"><a class="text-light text-uppercase"
                            href="{% url "memo_view" memo.pk %}">{{ memo.description }}</a>
                    </div>
                    <div class="card-body text-success">
                        <h5 class="card-title">Status: {{ memo.get_status_display }}</h5>
                        <p class="card-text">{{ memo.text }}</p>
                    </div>
                    <div class="card-footer bg-transparent border-info">
                        {{ memo.execution_date|date:"d.m.Y" }}
                        <p><a href="{% url "memo_update" memo.pk %}" class="btn btn-sm btn-info">Update</a></p>
                        <p><a href="{% url "memo_delete" memo.pk %}" class="btn btn-sm btn-info">Delete</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
