{% extends "base.html" %}

{% block title %}Update{% endblock %}

{% block menu %}
    <li><a href="{% url 'memo_view' memo.pk %}">Cancel</a></li>
{% endblock %}

{% block content %}
    <h1>Update Memo</h1>

    {% url 'memo_update' as action_url %}
    {% include 'partial/form.html' with action_url=action_url form_method='post' button_text='Update' %}

{% endblock %}

{#<form action="{% url "article_update" article.pk %}" method="post">#}
{#    {% csrf_token %}#}
{##}
{#    {% for field in form %}#}
{#        {% include 'partial/form_field.html' %}#}
{#    {% endfor %}#}
{##}
{#    <br/>#}
{#    <input type="submit" value="Send"/>#}
{#</form>#}